/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /* ---- Light ---- */

    --background-color: #f2f2f2;
    --text-color: #333;

    /* Input */
    --input-bg-color: #fff;
    --input-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --input-shadow-focus: 0 2px 4px rgba(0, 0, 0, 0.2);

    /* Button */
    --button-bg: #3F51B5;
    --button-bg-hover: #4e7cd8;
    --button-text-color: #fff;

    /* List */

    --list-bg-color: #fff;
    --list-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


    /* ---- Dark ---- */

    --bg-dark-color: #121212;
    --txt-dark-color: #f2f2f2;

    /* Input */
    --input-bg-color-dark: #1f1f1f;
    --input-shadow-dark: 0 2px 4px #ffffff1a;
    --input-shadow-focus-dark: 0 2px 4px #ffffff1a;

    /* Button */
    --button-bg-dark: #4e7cd8;
    --button-bg-hover-dark: #628ce7;
    --button-text-color-dark: #fff;

    /* List */
    --list-bg-color-dark: #1f1f1f;
    --list-shadow-dark: 0 2px 4px #ffffff1a;
}

/* General */

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    color: var(--text-color);
    max-width: 100vw;
    height: 100vh;
    font-size: 16px;
    ;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 25px 10px;
}

i#menu-icon {
    display: flex;
    align-items: center;
    width: 50px;
    color: #ffffff;
    background-color: #333;
    display: none;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-items {
    margin: 20px;
}

.menu-items ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu-items ul li a {
    color: #ffffff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 9px 15px;
    font-size: 18px;
    font-weight: 600;
}

.font-size i {
    color: #ffffff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
}

/* Main */

main {
    margin: 25px;
}

/* Form and Inputs */

#form-add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-shadow: var(--input-shadow);
    height: 40px;
    width: 325px;
    max-width: 100%;
}

input:focus {
    outline: none;
    box-shadow: var(--input-shadow-focus);
}

#favorites-button {
    color: #ffffff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-size: 40px;
}

/* List */

#favorites-button:hover {
    color: #e0f3ff;
}

#favorites-list {
    display: flex;
    flex-direction: column;
}

#favorites-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--list-bg-color);
    box-shadow: var(--list-shadow);
    padding: 10px 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.form-update {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.delete {
    padding: 10px;
    cursor: pointer;
    box-shadow: var(--list-shadow);
    border-radius: 5px;
}

.delete:hover {
    background-color: #ff6b6b;
    color: #fff;
}

.update {
    padding: 10px;
    cursor: pointer;
    box-shadow: var(--list-shadow);
    border-radius: 5px;
}

.update:hover {
    background-color: #56c957;
    color: #fff;
}

.update-button {
    padding: 10px;
    cursor: pointer;
    box-shadow: var(--list-shadow);
    border-radius: 5px;
    border: none;
    background-color: #6bd4ff;
    color: #fff;
}

.update-button:hover {
    background-color: #56c957;
    color: #fff;
}

.save {
    padding: 10px;
    cursor: pointer;
    box-shadow: var(--list-shadow);
    border-radius: 5px;
}

.save:hover {
    background-color: #6bd4ff;
    color: #fff;
}

#toast {
    width: fit-content;
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 1s ease;
}

#toast.show {
    opacity: 1;
}

#toast.error {
    background-color: #ff6b6b;
}

#toast.success {
    background-color: #56c957;
}

#toast.info {
    background-color: #6bd4ff;
}

#about {
    background-color: #fff;
    box-shadow: var(--list-shadow);
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ccc;
    width: 100%;
    text-align: justify;
}

/* Media Queries */

@media (max-width: 480px) {

    body,
    html {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 1vw;
        min-height: 1vh;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    header {
        width: 100%;
        flex-direction: column;
        margin: 0;
        gap: 10px;
        position: fixed;
        top: 0;
    }

    .menu {
        display: flex;
        width: 100%;
        gap: 10px;
    }

    i#menu-icon {
        display: flex;
        align-items: center;
        padding: 0 10px;
        animation-duration: .5s;
        animation-iteration-count: infinite;
    }

    i#menu-icon:active {
        animation-name: icon-animation;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    .menu-items ul {
        display: none;
        list-style-type: none;
        padding-top: 10px;
    }

    .menu-items ul li {
        padding: 10px 0;
        background-color: var(--list-bg-color);
        box-shadow: var(--list-shadow);
        margin-top: 1px;
    }

    .menu-items ul li a {
        text-decoration: none;
        color: inherit;
        background-color: var(--list-bg-color);
        border: none;
        border-radius: 0;
        cursor: pointer;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
    }

    .tools {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 0 10px;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    input {
        flex-basis: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin: 25px 0 0 0;
    }

    #favorites-list {
        min-width: 95%;
        margin: 0;
    }

    #favorites-list li {
        width: 100%;
    }

    #form-add {
        display: flex;
        gap: 10px;
        width: 100%;
    }

    .info {
        width: 100%;
    }

    .form-update {
        width: 100%;
    }

    .form-update input {
        width: 100%;
    }

    .update-button {
        margin-right: 5px;;
    }

    #about {
        margin: 0;
    }

    footer {
        position: fixed;
        bottom: 0;
    }

    @keyframes icon-animation {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.9);
        }

        100% {
            transform: scale(1);
        }
    }
}